* {
    box-sizing: border-box;
}
.container{
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text-box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}